* {
    font-family: "Comic Sans MS", cursive;
    background-color:#ffff00
}

img {
    height: auto;
    width: 500px;
}

.title
.subtitle {
    font-family: "Papyrus", fantasy;
}

.description
.ingredients
.steps {
    background-color: #ff0000
}